@charset "utf-8";
@import url("edittext.css");

/* 样式重置 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}

/*html5 reset*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/*section,article,aside,header,footer,nav,dialog,figure{display:block;}*/
menu, figure{margin:0;padding:0;}
body{
	background:#fff;
	color:#555;
	font:normal 14px/1.5 "Microsoft YaHei", tahoma, Simsun,"Arial Unicode MS",Mingliu,Arial,Helvetica;
}
body,html{}
table{border-collapse:collapse;border-spacing:0}
table,td,th{vertical-align: middle;}
input,select{vertical-align:middle;}
input,select,textarea{font-family:"Microsoft YaHei",arial,verdana,sans-serif;font-size:14px;}
/*input:focus{outline:0 none}*/
h1,h2,h3,h4,h5,h6{
 font-weight: normal;    
 font-size: 100%; 
}
ul,ol,menu{list-style:none;}
a img{border:none;}
img{ vertical-align:top;}
p{margin-bottom:1.2em;}
fieldset{padding:0 1em 1em 1em; margin:1.6em 0;border:1px solid #ccc;} /*** padding-top is margin-top for fieldsets in Opera ***/
legend{padding-left:.8em; padding-right:.8em;}
legend+*{margin-top:1em;} /*** compensates for the opera margin bug ***/
sub{ font-size:smaller; line-height:0; vertical-align:sub;}
sup{ font-size:smaller; line-height:0; vertical-align:super;}

a{color:#555;cursor:pointer; text-decoration:none;}
a:hover{color:#1295d8;text-decoration:underline;}
a:focus{}
hr { border:none; border-bottom:1px dotted #ccc; }

/*基础样式*/
.t12{font-size:12px;}
.t14{font-size:14px;}
.t16{font-size:16px;}
.t18{font-size:18px;}
.t24{font-size:24px;}
.black{color:#000;}
.white{color:#fff;}
.grey{color:#ccc;}
.red{color:#db0210;}
.blue{color:#03f;}
.green{color:#008000;}
.mcolor{color:#900;}
.b{font-weight:bold;}
.clear{clear:both;}
.delete{text-decoration:line-through;}
.nob{border:none;background:none;}
.fl{float:left;}
.fr{float:right;}
.float_left {float:left;padding:7px;}
.float_right {float:right;padding:7px;}
.img_float_left {float:left;clear:left;margin:0 30px 20px 0;}
.img_float_right {float:right;clear:right;margin:0 0 20px 30px;}

.highlight {background:#ff0;}
.thin{font-weight: lighter;}
.error_tips,.notice_tips,.success_tips{padding:.3em .8em;margin-bottom:1em;border:2px solid #ddd;}
.error_tips{background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice_tips{background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success_tips{background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error_tips a{color:#8a1f11;}
.notice_tips a{color:#514721;}
.success_tips a{color:#264409;}
.center{text-align: center;}
.tdu{text-decoration:underline;}
.errorMessage{ color:#f00;}
.hidden{ display:none;}
.oh{overflow:hidden;}
.lefthalf{
	float:left;
	width:48%;
}
.righthalf{
	float:right;
	width:48%;
}

.h1{ font-size:36px;}
.h2{ font-size:24px;}
.h3{ font-size:18px;}
.h4{ font-size:16px;}
.h5{ font-size:14px;}
.h6{ font-size:12px;}

.submit{ cursor:pointer; overflow:visible;}
.radio, .checkbox{ margin:0 5px 3px 0;}
.input, .textarea{
	padding:8px;
	color:#555;
	border:1px solid #ddd;
	color:#474747;
	/*-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:1px 1px 1px #eee;
	-moz-box-shadow:1px 1px 1px #eee;
	box-shadow:1px 1px 1px #eee;
	background: url(../../images/image/pkusz/bg_input.png) no-repeat left top;
	-webkit-box-shadow: 1px 1px 1px #f2f2f2 inset;
	-moz-box-shadow: 1px 1px 1px #f2f2f2 inset;
	box-shadow: 1px 1px 1px #f2f2f2 inset;*/
}
.input:focus, .textarea:focus{
}
.formbox .input,.formbox  .textarea{
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	-ms-transition:all .2s ease;
	transition:all .2s ease;
	
}
.formbox .input:focus, .formbox .textarea:focus{
	background:#FFFFFF;
    border: 1px solid #1295d8;
	
	-webkit-box-shadow: 1px 1px 1px #f2f2f2 inset;
	-moz-box-shadow: 1px 1px 1px #f2f2f2 inset;
	box-shadow: 1px 1px 1px #f2f2f2 inset;
}

input::-moz-placeholder {
    color: #999;
	/*opacity:1;filter:Alpha(opacity=100);*/
}
textarea::-moz-placeholder {
    color: #999;
	/*opacity:1;filter:Alpha(opacity=100);*/
}


/*清除浮动*/
.clearfix:after {content: "\0020";display: block;height: 0;clear: both;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
* html .clearfix {height: 1%;}
* html .clearfix {display: block;}

.mainwidth:after,.container:after,.contop:after,.mainwidth:after,.databasecon:after,.connmenu ul:after,.botleftcon:after,.aboutconbox:after,.databasebox:after,.lecturelist:after,.selectyearlist:after{ content:'\0020'; display:block; height:0; clear:both;}
.mainwidth,.container,.contop,.mainwidth,.searchcon,.connmenu ul,.botleftcon,.aboutconbox,.eventslist,.lecturelist,.selectyearlist{ zoom:1;}



/*all*/
.wrapper{
	font-size:14px;
	background:#fff;
	overflow:hidden;
}

/*mainwidth*/
.mainwidth{
	width:1400px;
	max-width:1400px; 
	margin:0 auto;
}

/*container*/
.container{
	background: #ededed;
}
.container .content{
	padding:10px 0;
}

/*头部*/
.header{
	width: 100%;
	height: 120px;
	background: #fff;
}
.header .topbar{
	width:100%;
	height: 40px;
	background:#093868;
}
.header .topbar .item{
	display: block;
	float: left;
	padding:11px 15px;
	color: rgba(255,255,255,0.5);
	font-size: 12px;
	border-left: 1px #1f4a76 solid;
}
.header .topbar .top_left{
	float: left;
}
.header .topbar .top_right{
	float: right;
}
.topbar .oa_btn{
	float: left;
	display: block;
	width: 61px;
	height: 30px;
	line-height: 30px;
	margin:5px 0 0 65px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background: #de8245;
	border-radius: 3px;
}
.top_left .item .num{
	margin-left: 10px;
	color: #fff;
}
.header .topbar .search_btn{
	display: block;
	width: 10px;
	height: 18px;
	padding:8px 15px 13px;
}
.topbar .search_btn .iconfont2{
	color: #fff;
}
.topbar li a{
	color: rgba(255,255,255,0.5);
}
.topbar li a img{
	margin:6px 7px 0 0;
}
.logo{
	display: inline-block;
	margin-top: 15px;
}
.logo2{
	display: none;
	margin-top: 8px;
}

/*菜单*/
.nav_out{

}
.nav_out .nav{
	float: right;
	margin-top: 28px;
}
.nav li{
	position: relative;
	display: inline-block;
}
.nav li:last-child{
	margin-right: 15px;
}
.nav li a{
	padding:6px 22px 7px;
	font-size: 16px;
	color: #333;
}
.nav li a.cur,.nav li a:hover{
	color: #fff;
	border-radius: 3px;
	background: #0d5096;
}
.nav li > a:hover,.banner-list li a{
	text-decoration: none;
}
.nav li a .iconfont2{
	display: none;
}
.nav .nav_down{
	display: none;
}
.nav li .nav_down > a{
	background: #f5f7fa;
	border-top:1px #d9d9d9 solid;
}
/*.nav .nav_down{
	position: absolute;
	top:81px;
	left:-30px;
	z-index: 99;
	display: none;
	width: 450px;
	border:1px #e6e6e6 solid;
	border-top:none;
	background: #fff url(../../images/image/navdown_bg1.png) no-repeat right bottom;
}
.nav .nav_down2{
	width: 225px;
}
.nav_down .down_tri{
	position: absolute;
	top:-11px;
	left: 75px;
	width: 21px;
	height: 11px;
	background: url(../../images/image/navdown_icon1.png) no-repeat center center;
}
.nav_down .title{
	display: block;
	padding:15px 0 6px 40px;
	color:#999;
	font-size: 16px;
}
.nav_down .title:hover{
	text-decoration: none;
}
.nav .down_list{
	overflow: hidden;zoom:1;
}
.nav .down_list2{
	overflow: hidden;zoom:1;
}
.nav_down .down_item{
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.nav_down .down_item:nth-child(2){
	border-left:1px #e6e6e6 solid;
}*/
.down_list a,.down_list2 a{
	display:block;
	padding:8px 40px;
	font-size: 14px;
	color: #2d3134;
}
.down_list .cur,.down_list a:hover,.down_list2 .cur,.down_list2 a:hover{
	color: #0a2d85;
	background: #f4f4f4;
	text-decoration: none;
}
.nav_out .advice_btn{
	float: right;
	display: block;
	width: 85px;
	height: 34px;
	line-height: 34px;
	margin-top:22px;
	color: #fff;
	text-align: center;
	background: #de8245;
	border-radius: 3px;
}
.advice_btn:hover,.oa_btn:hover{
	text-decoration: none;
}

/*首页*/
.news_box{
	overflow: hidden;zoom:1;
	padding: 40px 0;
	background: #fff;
}
.news_out{
	padding-bottom: 20px;
	background: #f9fafb url(../../images/image/newsout_bg1.png) no-repeat center top;
}
.notice_out{
	padding-bottom: 20px;
	background: #f9fafb url(../../images/image/newsout_bg2.png) no-repeat center top;
}
.news_item{
	float: left;
	width: 33%;
	min-height: 285px;
	box-sizing: border-box;
	padding:0 50px;
	border-left: 1px #f0f0f0 solid;
}
.news_item:first-child{
	border-left: none;
}
.banner_out{
	overflow: hidden; zoom:1;
	width: 66%;
}
.banner{
	position: relative;
	float: left;
	width: 365px;
	height: 200px;
}
.banner .swiper-container{
	width: 365px;
	height: 200px;
}
.banner .swiper-slide{
	position: relative;
}
.banner .prev,.banner .next{
	position: absolute;
	top:50%;
	left: 0px;
	z-index: 200;
	display: block;
	width: 30px;
	height: 45px;
	margin-top:-22px;
	background: rgba(0,0,0,0.25) url(../../images/image/banner_prev.png) no-repeat center center;
}
.banner .next{
	left: auto;
	right: 0px;
	background: rgba(0,0,0,0.25) url(../../images/image/banner_next.png) no-repeat center center;
}
.banner .text{
	position: absolute;
	bottom:0px;
	left: 0;
	z-index: 159;
	color: #fff;
	font-weight: bold;
	width: 100%;
	height: 63px;
	padding-top:82px;
	text-align: center;
	background: url(../../images/image/banner_bg1.png) repeat-x center bottom;
}
.banner .swiper-pagination{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	margin-top: 40px;
	text-align: center;
}
.banner .swiper-pagination .swiper-pagination-switch{
	display: inline-block;
	width:6px;
	height:6px;
	text-indent: 200em;
	margin-left: 6px;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
}
.banner .swiper-pagination .swiper-active-switch{
	background: #de8245;
}

.title_main{
	margin-bottom: 10px;
	padding-bottom: 10px;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px #f0f0f0 solid;
}
.title_main .iconfont{
	margin:0 7px 0 0;
	color: #093868;
}
.title_main img{
	margin:5px 7px 0 0;
}
.title_main .more{
	float: right;
	margin-top:7px;
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.title_main .more:hover{
	color: #de8245;
	text-decoration: none;
}

.item_list{
	margin-top:22px;
}
.item_list li{
	margin-top:6px;
}
.item_list li .top_i,.item_list li .new_i{
	margin-right: 6px;
	padding:1px 5px;
	font-size: 10px;
	color: #fff;
	background: #de8245;
	border-radius: 3px;
}
.item_list li .new_i{
	background: #0d5096;
}
.item_list li a{
	display: block;
	color: #333;
}
.item_list li .date{
	display: block;
	margin-top:2px;
	color: #999;
}
.item_list li.item_i2 a{
		/*padding-left: 42px;*/
}
.item_list li.item_i2 .top_i,.item_list li.item_i2 .new_i{
		margin-left: -42px;
}
.banner_list{
	float: left;
	width: 420px;
	margin:0 0 0 39px;
}
.banner_list li,.notice_list li{
	margin-top:13px;
}
.banner_list li .date,.notice_list li .date{
	float: right;
}

.system_list li{
	margin-bottom: 10px;
}
.system_list li .tit{
	padding:8px 15px;
	color: #333;
	background: #f5f5f5;
	border:1px #eee solid;
	border-radius: 2px;
}
.system_list li.cur .tit{
	color: #fff;
	background: #0d5096;
	border-color: #0d5096;
}
.system_list li .tit span{
	display: block;
	background: url(../../images/image/down_icon1.png) no-repeat right center;
}
.system_list li.cur .tit span{
	background: url(../../images/image/down_icon2.png) no-repeat right center;
}
.system_list li .system_item{
	overflow: hidden;zoom:1;
	display: none;
	margin:10px 17px 8px;
}
.system_list li .system_item_on{
	display: block;
}
.system_list li .system_item a{
	display:block;
	float:left;
	width:33%;
	margin-bottom: 10px;
}
.system_list li .system_item a:hover{
	color: #0d3878;
}

.link_list{
	overflow: hidden;zoom:1;
	margin-top:-11px;
}
.link_list li{
	float: left;
	box-sizing: border-box;
	width: 50%;
	border-top:1px #f0f0f0 solid;
	border-left: 1px #f0f0f0 solid;
	margin-left: -1px;
}
.link_list li a{
	display:block;
	padding:12px 0 10px 20px;
	color: #333;
}

/*底部*/
.footer{
	overflow: hidden;
	zoom:1;
	min-height: 240px;
	padding:45px 0 0;
	color: rgba(255,255,255,0.5);
	background: #093868 url(../../images/image/footer_bg1.png) no-repeat 0 0;
}
.footer_list{
	overflow: hidden;zoom:1;
	float: left;
	width: 1010px;
	margin:10px 0 0 20px;
}
.footer_list li{
	float: left;
	box-sizing: border-box;
	width: 39%;
	padding-left: 55px;
}
.footer_list .item2{
	width: 21%;
}
.footer_list .item3{
	width: 40%;
}
.footer_list li .tit{
	padding-bottom: 15px;
	margin-bottom: 18px;
	font-size: 16px;
	color: #fff;
	border-bottom: 1px #214b76 solid;
}
.footer_list li a{
	display: block;
	float: left;
	box-sizing: border-box;
	width: 50%;
	margin-bottom:5px;
	padding-left: 15px;
	color: rgba(255,255,255,0.5);
}
.footer_list li a:nth-child(odd){
	padding-left: 0;
}
.footer_left{
	float: left;
}
.footer .address{
	margin:24px 0 0 52px;
}
.address .add{
	display: block;
}
.footer .logo_f img{
	width: 100%;
}



.maincont{
	position: relative;
	z-index: 50;
}
.content_main{
	padding:28px 60px 50px 60px;
}
.content .title_cont{
	overflow: hidden;zoom:1;
	min-height: 35px;
	padding:0px 0 18px;
	border-bottom: 2px #f2f2f2 solid;
}
.content .title_cont span{
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
.content .title_cont span img{
	margin:8px 8px 0 0;
}
.sitecon{
	float: right;
	display: inline-block;
	margin-top:10px;
	color:#999;
}
.sitecon a{
	font-size: 12px;
	color: #999;
}
.sitecon .cur{
	color: #333;
}
.mainside{
	padding-right: 300px;
	background: #fff;
}
.center_side{
	padding-right: 0;
}
.rightside{
	float: right;
	width: 300px;
	padding-bottom: 70px;
	border-left: 1px #eeeeee solid;
	background: #fff;
}
.rightside .title_r{
	padding:22px 20px 20px 30px;
	font-size: 22px;
	color: #fefefe;
	font-weight: bold;
	background: #0d5096 url(../../images/image/rightside_bg1.png) no-repeat center center;
}
.rightside .tit_right{
	font-size: 16px;
	padding:20px 28px 15px 33px;
	border-bottom: 1px #eeeeee solid;
	background: #fff;
}
.rightside .tit_right a{
	display: block;
	color: #333;
	background: url(../../images/image/navdown_icon3.png) no-repeat right center;
}
.rightside .tit_right.cur a{
	color: #0a2d85;
	background: url(../../images/image/navdown_icon2.png) no-repeat right center;
}
.rightside a:hover{
	text-decoration: none;
}
.side_list{
	display: none;
	padding-left: 50px;
	background: #f7f7f7;
	border-right:1px #efefef solid;
}
.side_list_on{
	display: block;
}
.side_list li{
	padding-right: 35px;
	border-bottom: 1px #eeeeee solid;
}
.side_list li a{
	display: block;
	padding:15px 0px 15px 2px;
	color: #555;
	font-size: 14px;
}
.side_list li a .iconfont{
	margin-left: 13px;
	font-size: 12px;
	color: #dcdcdc;
}
.side_list li.cur a,.side_list li:hover a{
	color:#0d3878;
	text-decoration: none;
	background: url(../../images/image/rightside_icon1.png) no-repeat right center;
}
.side_list li.cur a .iconfont,.side_list li:hover a .iconfont{
	color: #0d3878;
}
.side_list li a img{
	margin:5px 0 0 15px;
}
.item_side2 .side_list{
	padding: 0;
	background: #fff;
}
.item_side2 .side_list li{
	padding-right: 50px;
}
.item_side2 .side_list li a{
	font-size: 16px;
	padding:20px 30px 18px 32px;
}

/*页码*/
.pagination{
	margin-top: 30px;
	text-align: center;
}
.pagination a{
	display: inline-block;
	width:38px;
	height:38px;
	line-height: 38px;
	color: #333;
	font-size: 17px;
	border:1px #eee solid;
	margin-left: 0px;
}
.pagination .prev,.pagination .next{
	width:78px;
}
.pagination a:hover,.pagination .cur{
	color: #fff;
	text-decoration:none;
	background: #de8245;
	border-color: #de8245;
}

/*通知*/
.news_list li{
	border-bottom: 1px #f2f2f2 solid;
}
.news_list li .first{
	display: block;
	color: #333;
	font-size: 18px;
	min-height: 32px;
	padding:20px 0 20px 18px;
	background: url(../../images/image/news_icon1.png) no-repeat 0 center;
}
.news_list li .download_btn{
	display: inline-block;
	width: 74px;
	height: 32px;
	line-height: 32px;
	margin-left: 22px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background: #0d5096;
	opacity: 0;
}
.download_btn img{
	margin:8px 5px 0px 0;
}
.news_list li:hover .download_btn{
	opacity: 1;
}
.news_list li .date{
	float: right;
	margin-top:4px;
	color: rgba(51,51,51,0.6);
	font-size: 12px;
}
.news_list li .first:hover{
	color: #0d3878;
	background-image: url(../../images/image/news_icon2.png);
}

/*详情*/
.detail_tit{
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px #eee solid;
}
.detail_tit .tit{
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
.detail_tit .info{
	color: #999;
}
.detail_tit .info img{
	margin:4px 6px 0 0;
}
.info .time{
	margin-right: 20px;
}
.info .time .iconfont2{
	margin-right: 5px;
	color: #d1cdd4;
}
.info .view .iconfont2{
	margin:4px 5px 0 0;
	color: #d1cdd4;
}

.back_btn{
	display: block;
	width: 125px;
	height: 42px;
	line-height: 42px;
	margin:60px auto 20px;
	text-align: center;
	color: #fff;
	background: #de8245;
}
.back_btn:hover{
	color:#fff;
	text-decoration:none;
}


/*学院信息*/
.event_list{
	margin-top:10px;
}
.event_list li{
	display: block;
	color: #333;
	padding:8px 18px 8px 18px;
	background: url(../../images/image/news_icon1.png) no-repeat 0 15px;
}
.event_list li .date{
	float: left;
	margin-right: 20px;
}
.title_cont2{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding-left: 15px;
	background: url(../../images/image/title_icon2.png) no-repeat 0 center;
}
.table_schedule .numb{
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin:0 auto;
	text-align: center;
	background: #4581bf;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 50%;
}
.table_schedule{
	border-collapse: collapse;
	border:1px #dddddd solid;
}
.table_schedule th{
	padding:12px 20px;
	font-size: 18px;
	font-weight: normal;
	color: #0d3878;
	background: #f4f1f6;
	border:1px #dddddd solid;
}
.table_schedule td{
	font-size: 18px;
	font-weight: bold;
	color: #777;
	text-align: center;
	border:1px #dddddd solid;
}
.table_schedule td a{ 
	padding:12px 20px;
	font-size: 18px;
	color: #777;
}
.table_schedule .td_teach{
	background: #f8f8f8;
}
.schedule{
	margin: 40px 0;
}
.schedule .date{
	margin-bottom: -2px;
	text-align: center;
	background: #0f5daf;
}
.schedule .date a{
	display: inline-block;
	padding:15px 20px;
	color: #fff;
	font-size: 16px;
}
.schedule .date .prev{
	float:left;
}
.schedule .date .next{
	float:right;
}
.schedule .date .prev img{
	margin:4px 10px 0 0;
}
.schedule .date .next img{
	margin:4px 0px 0 10px;
}
.schedule .date .month{
	padding:12px 20px;
	font-weight: bold;
	font-size: 20px;
}
.table_schedule .holiday{
	color: #0d3878;
}
.table_schedule .saturday{
	color: #5c307d;
}
.table_schedule td a{
	display: block;
}
.table_schedule td a:hover,.table_schedule td a.cur{
	background: #de8245;
	color: #fff;
	text-decoration: none;
}

/*年鉴*/
.annual_list{
	overflow: hidden;zoom:1;
	margin-left: -10px;
}
.annual_list li{
	overflow: hidden;zoom:1;
	position: relative;
	float: left;
	width: 200px;
	height: 260px;
	margin:40px 0 0px 40px;
	background: url(../../images/image/annual_img1.png) no-repeat center bottom;
	background-size: auto 100%;
}
.annual_list li .text{
	padding:62px 30px 0;
	font-size: 24px;
	color: #333;
	font-weight: bold;
	text-align: center;
}
.annual_list .download_bg{
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	transition: opacity 0.4s ease;
}
.annual_list .download{
	position: absolute;
	bottom:-50px;
	left: 0;
	width: 100%;
	height: 48px;
	line-height: 48px;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	background: #0f5daf;
	transition: bottom 0.4s ease;
}
.download img{
	margin:16px 5px 0 0;
}
.annual_list li:hover .download_bg{
	opacity: 1;
}
.annual_list li:hover .download{
	bottom: 0;
}
.annual_list li .download:hover{
	color: #fff;
	text-decoration: none;
}

/*大事记*/
.history_list{
	margin:45px 0 0 34px;
}
.history_list li{
	overflow: hidden;zoom:1;
	padding:0px 0 0px 60px;
}
.history_list li .tit_h{
	float: left;
	width: 60px;
	margin:18px 0 0 -60px;
	color: #333;
	font-size: 18px;
	font-weight: bold;
}
.history_list li .year{
	padding-top: 15px;
	font-size: 24px;
	font-weight: bold;
	color: #0d3878;
}
.history_list li .text{
	margin:5px 0 25px;
	color: #666;
}
.history_list li .item_right{
	padding: 0 0 40px 35px;
	background: url(../../images/image/history_bg1.png) no-repeat 0px top;
}

/*学术委员会*/
.content_pbody{
	padding:30px 0;
}
.tit_cont{
	margin-bottom:15px;
	font-size: 18px;
	color: #333;
}
.content_pbody .council_list li{
	list-style: none;
	margin:0;
	padding:0px 0 12px 26px;
	background: url(../../images/image/council_icon1.png) no-repeat 12px 9px;
}

.table_2 th{
	padding:10px 15px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	background: #0f5daf;
	border: 1px #3f7dbf solid;
}
.table_2 th:nth-child(even){
	background: #1064bc;
}
.table_2 td{
	padding:12px 15px;
	text-align: center;
	color: #555;
	border:1px #eee solid;
}
.table_2 tr:nth-child(odd){
	background: #fafafa;
}

/*搜索*/
.center_side .mainside{
	padding:0;
}
.center_side .title_cont,.center_side .result_cont{
	max-width:1400px;
	margin-right: 0;
	background: #fff;
	border-bottom: 2px #093868 solid;
}
.search_cont .center_side .title_cont,.search_cont .center_side .result_cont{
	padding:25px 55px 19px;
}
.center_side .title_cont .result,.center_side .result_cont .result{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}
.center_side .title_cont .result span,.center_side .result_cont .result span{
	font-size: 20px;
	color:#093868;
}
.search_d2{
	float: right;
	margin:-5px 0 0;
}
.search_cont .center_side .result_cont{
	border-bottom: 2px #093868 solid;
}
.wrapper_search .search_tit_cont,.search_tit_cont{
	display: none;
}
.search_cont .content_main{
	padding-top:5px;
}


.search_data{
    display: inline-block;
    margin: 0px;
}
.search_data .input{
    padding: 0 0 0 10px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #efefef;
}
.search_data .input::-webkit-input-placeholder{
	color: #bbb;
}
.input::-webkit-input-placeholder { /* WebKit browsers */
	color: #bbb;
}
.input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #bbb;
}
.input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #bbb;
}
.input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #bbb;
}
.search_data .submit{
    background: #0d4e91 url(../../images/image/ico_se.png) no-repeat center center;
    border: none;
    width: 50px;
    height: 34px;
    margin-left: -5px;
}



.search_list li{
	border-bottom: 1px #eee solid;
}
.search_list li a{
	overflow: hidden;zoom:1;
	display: block;
	padding:20px 0;
	color: #555;
}
.search_list li .img{
	float: left;
	width:185px;
	height: 105px;
	margin-right: 20px;
}
.search_list li .img img{
	width: 100%;
}
.search_list li.hasimg .img_right{
	padding-left: 205px;
}
.search_list li .tit{
	margin-bottom: 8px;
	padding-left: 18px;
	color:#333;
	font-size: 16px;
	background: url(../../images/image/result_icon1.png) no-repeat 0 8px;
}
.search_list li .date{
	float: right;
	display: inline-block;
	margin:4px 4px 0 0;
	font-size: 12px;
	color:#999;
}
.search_list li a:hover{
	text-decoration:none;
	color:inherit;
}
.search_list li a:hover .tit{
	color: #0d3878;
	background-image: url(../../images/image/result_icon2.png);
}
.search_list li .result_text{
	color: #0d5096;
}

/*意见反馈*/
.advice_cont .title_cont{
	padding:16px 40px 18px;
	background: url(../../images/image/advice_bg1.png) no-repeat center center;
}
.advice .type{
	margin:0px 0 10px;
	font-size: 16px;
}
.advice .type .label{
	color: #333;
}
.advice .type .type_item{
	margin-left: 20px;
	color: #666;
}
.advice .type_right{
	display: inline-block;
}
.advice .type_item{
	display: inline-block;
}
.advice .type_tit{
	margin:20px 0 8px;
	color: #333333;
	font-size: 16px;
}
.advice .must{
	font-size: 12px;
	color: #de8245;
}
.type_input{
	margin-bottom: 15px;
}
.type_input .input_text{
	box-sizing: border-box;
	width: 100%;
	padding:10px;
	color: #333;
	border:1px #bfbfbf solid;
}
.type_input .textarea{
	width: 100%;
	height: 110px;
	border:1px #bfbfbf solid;
	box-sizing: border-box;
	resize: none;
}
.advice .input_submit{
	display: block;
	width: 142px;
	height: 42px;
	line-height: 42px;
	margin:40px auto;
	color: #fff;
	border:none;
	background: #de8245;
}
.advice_cont .center_side{
	width: 750px;
}
.type_input .input_text:focus,.type_input .textarea:focus{
	border-color:#0f5daf;
}


.icheckbox_square-blue,.iradio_square-blue{
    display: inline-block;
    vertical-align: middle;
   	border-radius:2px;
    width: 16px;
    height: 16px;
	margin-right:8px;
    cursor: pointer;
}
.iradio_square-blue{
	background:url(../../images/image/radio_icon1.png) no-repeat center center;
}
.icheckbox_square-blue.checked,.iradio_square-blue.checked,.iradio_square-blue.hover{
  background:url(../../images/image/radio_icon2.png) no-repeat center center;
}



.menu{
	position: absolute;
	top:3px;
	right: 20px;
	display: none;
	width: 48px;
	height: 32px;
}
.menu .iconfont2{
	font-size: 40px;
	color: #fff;
}
.nav_out .back{
	display: inline-block;
	margin:14px 0 0 15px;
}
.nav_out .back .iconfont2{
	font-size: 24px;
	color: #fff;
}
.nav_out .close{
	position: absolute;
	top:15px;
	right: 20px;
	z-index: 100;
	display: none;
	width: 30px;
	height: 30px;
	background: url(../../images/image/menu_close.png) no-repeat center center;
	background-size: 30px 30px;
}
.news_mobile{
	display: none;
	background:#f5f7f8 url(../../images/image/news_bg2.png) no-repeat center center;
}
.news_m_list{
	overflow: hidden;zoom:1;
	margin:0 0 0 -30px;
}
.news_m_list li{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding:20px 0 0 30px;
}
.news_m_list li a{
	display: block;
	padding:15px 0;
	text-align: center;
	color: #555;
	font-size: 16px;
	background: #fff;
	border:1px #d9d9d9 solid;
	border-radius: 3px;
}
.news_m_list li a:hover{
	color: #fff;
	background: #0d5096;
	text-decoration: none;
}
.news_m_list li a .iconfont{
	color: #093868;
	margin:0 10px 0 0;
}
.news_m_list li a:hover .iconfont{
	color:#fff;
}
.detail_tit_cont,.nav_out .back{
	display: none;
}

.nav_login_out{
	display: none;
	margin:25px 0 0;
}
.nav_login{
	width: 80%;
	margin:0 auto;
	padding:3px 5px;
	border:1px #b5b5b5 solid;
	border-radius: 5px;
}
.nav_login .label{
	color:rgba(24,24,24,0.4);
}
.nav_login .input{
	border:none;
	width:70%;
}
.nav_login div:first-child{
	border-bottom: 1px #b8b8b8 solid;
}
.nav_login_out .navlog_btn{
	display: block;
	width: 75px;
	height: 35px;
	line-height: 35px;
	margin:15px auto 20px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background: #de8245;
}
.nav_link{
	margin-bottom: 30px;
	text-align: center;
}
.nav_link a{
	color: #4c4c4c;
}
.nav_link .nav_sou{
	display: inline-block;
	margin:0 20px;
	color: #999;
}
.nav_link .nav_sou .iconfont2{
	display: inline-block;
	padding:0 17px;
	color: #4d4d4d;
}
.nav_link .nav_adv{
	color: #de8245;
}
.link_cont .title_main .iconfont2{
	display: none;
}
.linklist{
	display: block;
}