@charset "UTF-8";

/*宽度1400px-1600px*/
@media only screen and (max-width: 1600px) {
	.mainwidth{
		width:auto;
		padding:0 40px;
	}
	.container .content{
		padding:10px 40px;
	}
	.banner{
		width: 50%;
		height: auto;
		max-width: 365px;
		max-height: 200px;
	}
	.banner .img img{
		width: 100%;
	}
	.banner_list{
		width: 50%;
		margin-left: 0;
		padding-left: 50px;
		box-sizing: border-box;
	}
	.banner .swiper-container {
    width: 100%;
    height: auto;
	}
	.footer_left{
		width: 28%;
	}
	.footer_list{
		width: 70%;
		margin-left: 2%;
	}
	.footer_list li{
		padding-left: 20px;
	}
}

/*宽度小于1400px*/
@media only screen and (max-width: 1400px) {
	.nav li a{
		padding: 6px 15px 7px;
	}
	.mainwidth{
		padding:0 30px;
	}
	.container .content{
		padding:10px 30px;
	}
	.news_item{
		padding:0 35px;
	}
	/*.footer_list{
		width: 755px;
		margin-left: 0px;
	}*/
	.footer_list li{
		width: 42%;
		padding-left: 10px;
	}
	.footer_list .item3{
		width: 37%;
	}
	.footer_list li:first-child a:nth-child(odd){
		width: 55%;
	}
	.footer_list li:first-child a:nth-child(even){
		width: 45%;
	}
}

/*宽度小于1170px*/
@media only screen and (max-width: 1200px) {
	.mainwidth{
		padding:0 20px;
	}
	.container .content{
		padding:10px 20px;
	}
	.nav li a{
		padding: 6px 5px 7px;
	}
	.nav_out .advice_btn{
		width: 68px;
	}
	.logo img{
		width: 235px;
	}
	.nav li:last-child{
		margin-right: 5px;
	}
	.news_item{
		padding:0 25px;
	}
	.rightside{
		width: 250px;
	}
	.mainside{
		padding-right: 250px;
	}
	.center_side{
		padding-right: 0;
	}
	.content_main{
		padding:28px 40px 50px 40px;
	}
	.item_side2 .side_list li{
		padding-right: 35px;
	}
	.annual_list li .text{
		font-size: 22px;
	}
}

/*宽度小于960px*/
@media only screen and (max-width: 960px) {
	.menu,.news_mobile{
		display: block;
	}
	.menu{
		position: fixed;
		right:20px;
		top:12px;
	}
	.header{
		position: fixed;
		top:0;
		left: 0;
		z-index: 200;
		height: 66px;
		background: #0d3878;
	}
	.wrapper_search .header{
		z-index: 100;
	}
	.container{
		padding-top:66px;
	}
	.header .topbar,.logo,.nav_out .advice_btn,.title_main,.banner_list,.news_item{
		display: none;
	}
	.header_on{
		z-index: 220;
	}
	.nav_out .nav{
		display: none;
		float: none;
	}
	.header_on .nav_out .nav{
		display: block;
	}
	.nav_out{
		position: absolute;
		right: -100%;

		transition: right 0.5s ease;
	}
	.header_on .nav_out{
		overflow-y: auto;
		height: 100%;
		background: #fff;
		right: 0;
	}
	.nav li{
		display: block;
		border-bottom: 1px #d9d9d9 solid;
	}
	.nav li:last-child{
		margin-right: 0;
	}
	.nav li a{
		display: block;
		padding:15px;
	}
	.nav li a.cur, .nav li a:hover{
		color: #333;
		background: #fff;
	}
	.nav li .nav_down > a,.nav li a.cur .down_item a{
		padding:15px 25px;
		background: #f5f7fa;
	}
	.nav .nav_down .down_item > a{
		padding:15px 25px;
		border-top:1px #d9d9d9 solid;
		background: #f5f7fa;
	}
	.nav_down .down_item .down_list{
		display: none;
	}
	.nav_down .down_item .down_list a{
		padding: 12px 35px;
		font-size: 13px;
		background: #e9f0f7;
		border-top: 1px #d9d9d9 solid;
	}

	.nav li a .iconfont2{
		float: right;
		display: inline-block;
		color: #999;
	}
	.wrapper_index .logo2{
		position: fixed;
		top:0;
		left: 0px;
		display: inline-block;
		margin:8px 0 0 30px;
	}
	.wrapper_index .header_on .logo2{
		display: none;
	}
	.wrapper{
		background: none;
	}
	.container .content{
		padding:0px;
	}
	.banner_out,.link_cont .title_main,.link_cont .news_item{
		display: block;
	}
	.banner{
		width: 100%;
		max-width: none;
		max-height: none;
	}
	.news_box{
		padding: 0;
		background: transparent;
	}
	.news_out{
		padding-top:10px;
	}
	.mainwidth{
		padding: 0;
	}
	.news_item{
		float: none;
		width: 100%;
		min-height: auto;
		margin:0px 0 10px;
		padding:0 0 20px;
		background: #fff;
	}
	.banner_out{
		width: 100%;
		padding: 0;
		margin-bottom: 0;
	}
	.title_main{
		padding:20px 20px;
	}
	.news_mobile{
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
	.system_list{
		margin:0 20px 0;
	}
	.link_list{
		margin:-11px 20px 0;
	}
	.news_mobile .mainwidth{
		padding: 0 30px;
	}
	.footer{
		min-height: auto;
		padding:25px 10px;
		color: rgba(255,255,255,0.8);
		font-size: 13px;
		background: #093868 url(../images/footer_bg2.png) no-repeat right 0;
	}
	.footer_list,.footer .logo_f img{
		display: none;
	}
	.footer_left{
		float: none;
		width: auto;
	}
	.footer .address{
		margin:0;
		text-align: center;
	}
	.footer .address .add{
		display: none;
	}
	.rightside{
		display: none;
	}
	.mainside{
		padding:10px 0 0;
		background: #e6e6e6;
	}
	.center_side .mainside{
		padding:10px 0 0;
	}
	.search_cont .mainside{
		padding: 0;
	}
	.sitecon,.content .title_cont span img{
		display: none;
	}
	.content .title_cont,.wrapper_search .search_tit_cont,.search_tit_cont{
		position: fixed;
		top:18px;
		left: 50%;
		z-index: 200;
		border-bottom: none;
		transform: translate(-50%,0);
	}
	.wrapper_search .search_tit_cont{
		background: transparent;
	}
	.search_cont .content .result_cont{
		position: static;
		left: 0;
		top: 0;
		transform: translate(0,0);
		padding:0;
	}
	.wrapper_search .search_tit_cont,.search_tit_cont{
		display: block;
	}
	.content .title_cont span,.wrapper_search .search_tit_cont span,.search_tit_cont span{
		color: #fff;
		font-size: 18px;
		font-weight: normal;
	}
	.center_side .title_cont{
		background-color: transparent;
	}
	.center_side .result_cont .result span{
		font-size: 16px;
	}
	.center_side .result_cont .result{
		display: block;
		padding: 15px 15px;
		font-size: 16px;
		font-weight: normal;
	}
	.search_d2{
		float: none;
		display: block;
		padding: 10px 15px;
		background: #f2f2f2;
	}
	.content_main{
		padding:0px 0px 30px;
		background: #fff;
	}
	.news_list{
		margin:0 20px;
	}
	.news_list li a{
		padding:14px 0;
		font-size: 16px;
		background: none;
	}
	.news_list li a:hover{
		background: none;
	}
	.news_list li .date{
		float: none;
		display: block;
	}
	.pagination{
		display: none;
	}
	.detail_tit_cont{
		display: block;
	}
	.search_tit_cont{

	}
	.nav_out .back{
		position: fixed;
		top:0;
		left: 0;
		display: inline-block;
	}
	.header_on .nav_out .back,.header_on .nav_out .menu{
		display: none;
	}
	.wrapper_index .nav_out .back{
		display: none;
	}
	.header_on .nav_out{
		position: relative;
		z-index: 205;
		padding-top:66px;
		background:#fff url(../images/headeron_bg1.png) repeat-x center top;
	}
	.header_on .nav_out .nav{
		margin-top: 0;
		background: #fff;
	}
	.header_on .nav_out .close{
		display: block;
	}
	.close .iconfont2{
		color: #fff;
		font-size: 22px;
	}
	.detail_tit{
		padding:15px 20px;
		margin-bottom: 15px;
	}
	.detail_tit .tit{
		font-size: 16px;
		font-weight: normal;
	}
	.edittext{
		padding:0 20px;
	}
	.search_cont .center_side .search_tit_cont{
		padding:2px 15px 19px;
	}
	.search_data .input{
		width: 90%;
		box-sizing: border-box;
	}
	.search_data .submit{
		width: 10%;
		max-width: 50px;
		box-sizing: border-box;
	}
	.search_list li a{
		padding: 12px 0 5px;
	}
	.search_list li.hasimg .img_right{
		padding-left: 0;
	}
	.search_list li .img{
		float: none;
		width: 100%;
		height: auto;
		margin: 0 0 10px 0;
	}
	.search_list li .tit{
		padding-left: 0;
		background: none;
	}
	.search_list li a:hover .tit{
		background: none;
	}
	.search_list li .date{
		float: none;
		display: block;
	}
	.search_list li .text{
		display: none;
	}
	.schedule{
		margin:0 0px;
		padding:0px 0 30px;
	}
	.schedule .date .month{
		font-size: 18px;
	}
	.schedule .date a{
		padding: 12px 20px;
	}
	.table_schedule th{
		font-size: 16px;
	}
	.table_schedule td a{
		font-size: 16px;
		font-weight: normal;
	}
	.annual_list .download_bg{
		opacity: 0;
		background: none;
	}
	.annual_list .download{
		max-width: 200px;
		bottom:0;
	}
	.history_list{
		margin:0;
	}
	.history_list li .year{
		font-size: 20px;
	}
	.event_list li{
		margin:0 20px;
		padding: 10px 0;
		background: none;
		border-bottom:1px #eaedf0 solid;
	}
	.event_list li .date{
		float: none;
		display: block;
		margin-top:3px;
		color: #999;
		font-size: 12px;
	}
	.annual_list li .text{
		font-size: 20px;
	}
	.title_cont2{
		padding:13px 20px 13px 30px;
		background: #f2f2f2 url(../images/title_icon2.png) no-repeat 20px center;
	}
	.advice_cont .title_cont{
		display: none;
	}
	.advice{
		padding:20px 20px;
	}
	.header_on .nav_login_out{
		display: block;
	}
	.nav_login .input{
		width: 85%;
	}
	.content_pbody .council_list li{
		padding-left: 0;
		background: none;
	}
	.search_list{
		margin:0 20px;
	}
	.link_cont .title_main .iconfont2{
		display: block;
		float: right;
		margin-top:3px;
		font-weight: normal;
		color: #9b9b9b;
	}
	.linklist{
		display: none;
	}
	.link_cont .news_item{
		padding:0;
	}
	.link_cont .news_item.cur{
		padding:0 0 20px;
	}
}

/*宽度小于768px*/
@media screen and (max-width: 767px){
	.menu{
		top:12px;
		right: 10px;
	}
	.menu .iconfont2{
		font-size: 30px;
	}
	.news_mobile .mainwidth{
		padding: 0 20px;
	}
	.news_m_list{
		margin-left: -20px;
	}
	.news_m_list li{
		padding-left: 20px;
	}
	.news_m_list li a{
		padding:12px 0;
	}
	.wrapper_index .logo2{
		margin-left: 20px;
	}
	.news_list li a{
		font-size: 14px;
	}
	.mainside{
		padding:5px 0 0;
	}
	.search_data .input{
		width: 87%;
	}
	.search_data .submit{
		width: 13%;
	}
	.annual_list{
		margin-left: -7%;
		text-align: center;
	}
	.annual_list li{
		float: none;
		display: inline-block;
		width: 43%;
		height: 240px;
		max-width: 200px;
		max-height: 260px;
		margin:30px 0 0 6%;
	}
	.annual_list li .text{
		font-size: 18px;
	}
	/*.annual_list li:last-child{
		float: left;
		padding-left: 15px;
	}*/
	.schedule .date .month{
		font-size: 16px;
	}
	.schedule .date a{
		padding: 12px 20px;
		font-size: 14px;
	}
	.schedule .date .prev img,.schedule .date .next img{
		margin-top:2px;
	}
	.table_schedule th{
		padding:8px 15px;
		font-size: 14px;
	}
	.table_schedule td a{
		padding: 8px 15px;
		font-size: 14px;
		font-weight: normal;
	}
	.table_schedule .numb{
		width: 28px;
		height: 28px;
		line-height: 28px;
		font-size: 14px;
		font-weight: normal;
	}
	.advice_cont .center_side{
		width: auto;
	}
	.advice_cont .content_main{
		background: #f7f7f7;
	}
	.advice .type_right{
		display: block;
	}
	.advice .type .type_item{
		margin: 8px 20px 0 0;
	}
	.nav_login .input{
		width: 75%;
	}
	.content_pbody{
		padding: 15px 0;
	}
	.tit_cont{
		padding:0 20px 10px;
		margin:0 -20px 10px;
		font-size: 16px;
		border-bottom: 1px #e6e6e6 solid;
	}
	.annual_list{
		padding: 0 20px;
	}
}
/*宽度小于420px*/
@media screen and (max-width: 420px){
	.menu{
		right: 0px;
	}
	.annual_list{
		padding: 0 15px;
	}
	/*.content_main{
		padding:0 15px 30px;
	}*/
	.news_mobile .mainwidth{
		padding: 0 15px;
	}
	.news_m_list{
		margin-left: -15px;
	}
	.news_m_list li{
		padding-left: 15px;
	}
	.wrapper_index .logo2{
		margin:12px 0 0 13px;
	}
	.logo2 img{
		width: 235px;
	}
	.system_list{
		margin:0 15px;
	}
	.title_main{
		padding:15px;
	}
	.link_list{
		margin:-11px 15px 0;
	}
	.search_data .input{
		width: 83%;
	}
	.search_data .submit{
		width: 17%;
	}
	.annual_list{
		margin-left: 0%;
	}
	.annual_list li{
		float: none;
		width: 200px;
		height: 260px;
		margin:20px auto 0;
	}
	.history_list li{
		padding-left: 50px;
	}
	.history_list li .tit_h{
		width: 50px;
		margin-left: -50px;
	}
	.history_list li .year{
		font-size: 18px;
	}
	.history_list li .tit_h{
		font-size: 16px;
	}
	.history_list li .item_right{
		padding:0 0 25px 30px;
	}
	.schedule .date .month{
		font-size: 14px;
	}
	.table_schedule td a,.table_schedule th{
		padding: 6px 10px;
		font-size: 12px;
	}
	.table_schedule .numb{
		font-size: 12px;
		width: 24px;
		height: 24px;
		line-height: 24px;
	}
	.annual_list li:last-child{
		float: none;
		padding-left: 0px;
	}
	.nav_out .close{
		right: 10px;
	}
	.nav_login .input{
		width: 68%;
	}
	.table_2 th{
		padding:6px 8px;
		font-size: 14px;
	}
	.table_2 td{
		padding: 8px 10px;
	}
	.news_list{
		margin:0 15px;
	}
	.advice{
		padding:15px;
	}
	.detail_tit{
		padding: 15px;
	}
	.edittext{
		padding: 0 15px;
	}
	.event_list li{
		margin:0 15px;
	}
	.title_cont2{
		padding-left: 25px;
		background: #f2f2f2 url(../images/title_icon2.png) no-repeat 15px center;
	}
	.search_list{
		margin:0 15px;
	}
}
