.collapse-title{
	position: relative;
	padding: 22px 31px;
	background-color: #fff;
	font-size: 1.142rem;
	font-weight: 600;
	cursor: pointer;
}
.collapse-content{
	display: none;
	padding: 26px 32px;
	font-family: Myriad Pro;
	line-height: 26px;
	background-color: #f9f8fc;
}
.collapse-item{
	margin-bottom: 10px;
	box-shadow:0 5px 9px 2px #e8ebf2;
}
.cshow{
	display: block !important;
}